/* CALENDAR */
.calendar-wrapper {
  height: 275px;
  overflow-x: hidden;
  overflow-y: auto;
}
.calendar-wrapper .DayPicker-Month {
  width: 300px;
  margin: 0;
  margin-top: 0;
}
.calendar-wrapper .DayPicker-NavButton {
  top: 0;
  right: 0.5em;
}
.DayPicker-Day--today {
  width: 5px;
  height: 5px;
  background-color: #a6b1e7;
  border-radius: 50%;
  color: #fff !important;
}
.DayPicker-Day {
  position: relative;
}
.DayPicker-Day--highlighted::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: violet;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
