/* WEATHER */
.weather-wrapper {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  position: relative;
}
.weather-wrapper h4 {
  padding-top: 25px;
  position: relative;
}
.weather-wrapper h4::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #a6b1e1;
  border-radius: 2px;
  position: absolute;
  top: 5px;
}
.weather-wrapper img {
  width: 65%;
  position: absolute;
  right: 1px;
  bottom: 0px;
}
.weather-wrapper .temp {
  font-size: 24px;
  font-weight: bold;
}
