/* MUSIC PLAYER */
.music-wrapper2 {
  width: 280px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-bottom: 20px;
}
.music-wrapper2 .music-container {
  padding: 20px;
  position: relative;
}
.music-wrapper2 .music-info-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.music-wrapper2 .album-img img {
  width: 70px;
  height: 70px;
  border-radius: 10px;

  overflow: hidden;
  object-fit: cover;
}
.music-wrapper2 .name-wrapper2 {
  padding: 0 10px;
}
.music-wrapper2 .name-wrapper2 .song-name {
  width: 160px;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.music-wrapper2 .name-wrapper2 p {
  font-size: 14px;
}

/* AudioPlayer Custom */
.rhap_container {
  width: 240px;
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  position: relative;
}
.rhap_progress-container {
  margin: 0;
  margin-bottom: 30px;
}
.rhap_progress-indicator {
  width: 15px;
  height: 15px;
  background-color: #a6b1e1;
  top: -4px;
}
.rhap_progress-filled {
  background-color: #a6b1e1;
}
.rhap_time {
  font-size: 14px;
  position: absolute;
  top: 24px;
}
.rhap_total-time {
  right: 0;
}
.rhap_repeat-button,
.rhap_main-controls-button {
  color: #999;
}
/* .rhap_play-pause-button {
  color: #a6b1e1;
} */
.rhap_volume-bar-area {
  display: none;
  flex: 0;
}
